version: "3.9"

services:
  app:
    build: .
    container_name: node_app
    ports:
      - "3001:3000"
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: Datos2025
      DB_NAME: Prueba01
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules

  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: Datos2025
      MYSQL_DATABASE: Prueba01
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"

  test:
    image: crudjs-app
    env_file:
      - .env.test
    depends_on:
      - db
    command: npm test

volumes:
  mysql_data:
