version: '3.9'

services:
  mysql_db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: testdb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  node_app:
    build: .
    container_name: node_app
    working_dir: /app
    volumes:
      - .:/app
    command: >
      sh -c "npx wait-port mysql_db:3306 --timeout=60 && npm start"
    depends_on:
      - mysql_db

  test:
    build: .
    container_name: crud-pipeline-test
    working_dir: /app
    volumes:
      - .:/app
    command: >
      sh -c "npx wait-port mysql_db:3306 --timeout=60 && npm test"
    depends_on:
      - mysql_db

volumes:
  mysql_data:
